### OSX ###
.DS_Store

### Node ###
# Logs
logs
*.log
npm-debug.log*

### Directories ###
node_modules
.sass-cache
uploads
test/temp
app/vendor
.tmp
test/scripts/

### AWS stuff for publishing static files ###
.aws-credentials.json
.awspublish*

### Thumbnails ###
._*
