#content {
  background: $primary-bg;
  bottom: 50px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50px;
}

header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.fill {
  height: 100%;
  min-height: 100%;
}
